By: Michał Marusiński

pupillabbs_exported pics - positions

In [1]:
import pandas as pd
data = pd.read_csv(r"C:\Users\48660\Desktop\Development Workshop\pupillabs_exported - pics\positions\2022_12_22_09-19 S05_pic_000_p.csv")
data.head()

,pupil_timestamp,world_index,eye_id,confidence,norm_pos_x,norm_pos_y,diameter,method,ellipse_center_x,ellipse_center_y,...,circle_3d_normal_y,circle_3d_normal_z,circle_3d_radius,theta,phi,projected_sphere_center_x,projected_sphere_center_y,projected_sphere_axis_a,projected_sphere_axis_b,projected_sphere_angle
0,86.621965,0,1,0.758826,0.536952,0.466931,18.161634,2d c++,103.094780,102.349174,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,86.621965,0,1,0.758826,0.537174,0.467157,18.168477,pye3d 0.3.0 real-time,103.137477,102.305767,...,0.413694,-0.874244,0.523304,1.144289,-1.853631,121.864263,59.233975,202.378702,202.378702,0.0
2,86.624622,0,0,0.733817,0.610242,0.551886,18.627298,pye3d 0.3.0 real-time,117.166491,86.037938,...,-0.487426,-0.857523,1.371671,2.079936,-1.381236,109.054367,110.213066,106.064161,106.064161,0.0
3,86.624622,0,0,0.733817,0.610226,0.551965,18.618183,2d c++,117.163414,86.022686,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,86.626173,0,1,0.762146,0.537365,0.467062,17.916333,pye3d 0.3.0 real-time,103.173988,102.324127,...,0.413759,-0.874264,0.517500,1.144217,-1.853439,121.864263,59.233975,202.378702,202.378702,0.0

pupillabbs_exported pics - fixations

In [8]:
data = pd.read_csv(r"C:\Users\48660\Desktop\Development Workshop\pupillabs_exported - pics\fixations\2022_12_22_09-27 S05_pic_000_f.csv")
data.head()

,id,start_timestamp,duration,start_frame_index,end_frame_index,norm_pos_x,norm_pos_y,dispersion,confidence,method,gaze_point_3d_x,gaze_point_3d_y,gaze_point_3d_z,base_data
0,0,555.656295,103.9380,0,1,0.083601,0.633259,1.354630,0.985735,3d gaze,-225.072840,-40.518780,422.294283,555.6562949999998 555.6642489999995 555.672273...
1,1,556.780170,122.0860,32,35,0.520707,0.369121,1.471917,0.792438,3d gaze,8.222890,30.700249,327.864107,556.7801704999997 556.7841399999993 556.788161...
2,2,557.372858,195.3595,49,55,0.510774,0.418027,1.501905,0.908244,3d gaze,54.033054,391.824746,6436.362621,557.3728579999997 557.3754449999997 557.376830...
3,3,558.144141,119.9930,73,76,0.525956,0.464647,1.444530,0.923740,3d gaze,323.077978,281.744417,9973.936067,558.1441414999995 558.1481494999994 558.152147...
4,4,558.268170,151.9650,76,81,0.522615,0.429604,1.418351,0.911343,3d gaze,136.763532,249.249462,5181.788202,558.2681704999995 558.2723574999995 558.276534...

pupillabbs_exported pics - annotations

In [16]:
data = pd.read_csv(r"C:\Users\48660\Desktop\Development Workshop\pupillabs_exported - pics\annotations\2022_12_22_09-27 S05_pic_000_a.csv")
data.head(100)

    index   timestamp         label  duration  UnityTriggertrigger
0     123  559.858582  UnityTrigger       0.0                42131
1     274  564.861237  UnityTrigger       0.0                10000
2     415  569.587952  UnityTrigger       0.0                40422
3     566  574.595612  UnityTrigger       0.0                10000
4     696  578.939362  UnityTrigger       0.0                42032
..    ...         ...           ...       ...                  ...
76  11350  934.064575  UnityTrigger       0.0                41231
77  11500  939.072937  UnityTrigger       0.0                10000
78  11645  943.893097  UnityTrigger       0.0                40932
79  11795  948.901031  UnityTrigger       0.0                99997
80  11795  948.912079  UnityTrigger       0.0                99990

[81 rows x 5 columns]

ratings

In [11]:
data = pd.read_csv(r"C:\Users\48660\Desktop\Development Workshop\ratings\2022_Dec_22_0959S05.csv")
data.head()

,image9,trials.thisRepN,trials.thisTrialN,trials.thisN,trials.thisIndex,trials_2.thisRepN,trials_2.thisTrialN,trials_2.thisN,trials_2.thisIndex,text_2.started,...,key_resp_6.started,key_resp_6.stopped,text_3.started,text_3.stopped,Kod_osoby_badanej,date,expName,psychopyVersion,frameRate,Unnamed: 62
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.127148,...,NaN,NaN,NaN,NaN,S05,2022_Dec_22_0959,rating,2021.1.4,59.995776,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,S05,2022_Dec_22_0959,rating,2021.1.4,59.995776,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,S05,2022_Dec_22_0959,rating,2021.1.4,59.995776,NaN
3,hi_pos_IAPS_4658.png,0.0,0.0,0.0,9.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,S05,2022_Dec_22_0959,rating,2021.1.4,59.995776,NaN
4,hi_neg_IAPS_9584.png,0.0,1.0,1.0,51.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,S05,2022_Dec_22_0959,rating,2021.1.4,59.995776,NaN

Folder physiology_bitalino / bitalino_pic

In [2]:
data = pd.read_csv(r"C:\Users\48660\Desktop\Development Workshop\bitalino\S04_pic2_BITAL.csv")
data.head()

   lp    EKG  light  blank   EDA   HR  trigger
0   0  31292   1164      0  9364  inf        0
1   1  31160   1352      0  9386  inf        0
2   2  31084   1200      0  9344  inf        0
3   3  31056   1125      0  9345  inf        0
4   4  31036   1302      0  9364  inf        0

preprocessed_pic_data

In [12]:
data = pd.read_csv(r"C:\Users\48660\Desktop\Development Workshop\preprocessed\preprocessed_pic_data\int_2022_12_19_10-55 S02_pic_000_5_LEFT_EYE")
data.head()

,time,pupil diameter [mm],trigger segmentStart,tigger segmentEnd,trigger info
0,0.000,20.620239,0.000000,4.953102,0.0
1,0.001,20.573854,4.954102,9.962135,40991.0
2,0.002,20.527474,9.963135,14.970528,10000.0
3,0.003,20.481109,14.971528,19.979073,40721.0
4,0.004,20.434770,19.980073,24.989021,10000.0

keys - participants_pic_filtered

In [15]:
data = pd.read_excel(r"C:\Users\48660\Desktop\Development Workshop\keys\participants_pic_filtered.xlsx")
data.head()

,Numer osoby,płeć,kolor oczu,kalibracja_PICTURE1,kalibracja_PICTURE2,kalibracja_PICTURE3,Dodatkowe uwagi
0,S01,k,zielone,NaN,NaN,NaN,NaN
1,S02,k,NaN,3.096; 0.215,2.819; 0.220,3.015; 0.220,NaN
2,S03,k,piwne,3.227; 0.156,2.674; 0.156,2.575; 0.136,"czujnik światła był przysłonięty, powtórzona r..."
3,S04,k,piwne,3.137; 0.222,2.129; 0.204,2.924; 0.207,NaN
4,S05,m,piwne,2.400; 0.183,2.786; 0.178,2.381; 0.173,NaN